* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  zoom: 100%;
  font-family: "Andika", sans-serif;
}

html,
body {
  color: white;
  overflow-x: clip;
  scroll-behavior: smooth;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #05acea;
  transition-duration: 0.3s;
}

.navbutton {
  color: white;
  text-decoration: none;
}
.navbutton:hover {
  color: #05acea;
  transition-duration: 0.3s;
}
.navbuttonselected {
  color: #05acea;
  font-weight: bold;
}

/* .bottom {
  width: 100%;
  height: 25vh;
  position: absolute;
  bottom: 0;
  z-index: 0;
  background: rgb(243, 243, 243);
  background: linear-gradient(
    0deg,
    rgba(177, 177, 177, 0.7) 0%,
    rgba(0, 0, 0, 0.7) 36%,
    rgba(0, 0, 0, 0.3) 100%
  );
} */

/* .nav {
  background: rgba(0, 0, 0, 0.5);
} */

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: 2px 4px 29px -2px rgba(1, 175, 234, 0.81);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #05acea;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
  transition-duration: 500ms;
}
